{% extends 'base.html' %}

{% block title %}{{ object.title }} | College News{% endblock %}

{% block content %}
<article class="article-card">
    <div class="article-meta">
        <span><i class="fas fa-user"></i> {{ object.author.username }}</span>
        <span><i class="fas fa-calendar-alt"></i> {{ object.created_at|date:"F d, Y" }}</span>
        <span><i class="fas fa-tag"></i> {{ object.category.name }}</span>
    </div>
    
    <h1 class="article-title">{{ object.title }}</h1>
    
    <div class="article-content">
        {{ object.content|linebreaks }}
    </div>
    
    {% if object.author == user %}
    <div class="article-actions">
        <a href="{% url 'article_update' pk=object.pk %}" class="btn btn-outline">
            <i class="fas fa-edit"></i> Edit Article
        </a>
    </div>
    {% endif %}
</article>
{% endblock %}